
@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateZ(-1500px) translateY(-1000px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateZ(-1500px) translateX(1000px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateZ(-1500px) translateX(-1000px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateZ(-1500px) translateY(1000px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slide-left {
    animation-name: slideInLeft;
}

.slide-right {
    animation-name: slideInRight;
}

.slide-up {
    animation-name: slideInUp;
}

.slide-down {
    animation-name: slideInDown;
}

