@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateZ(-1500px) translateY(-1000px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateZ(-1500px) translateX(1000px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateZ(-1500px) translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateZ(-1500px) translateY(1000px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slide-left {
  animation-name: slideInLeft;
}

.slide-right {
  animation-name: slideInRight;
}

.slide-up {
  animation-name: slideInUp;
}

.slide-down {
  animation-name: slideInDown;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  overscroll-behavior-y: contain;
}

main {
  flex: 1 0 auto;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.5rem;
}

.wrapper-wide {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
}

@media (min-width: 992px) {
  .wrapper {
    padding: 1rem 2rem;
  }
}
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main-color-txt {
  color: #4e4ed4;
}

.bold {
  font-weight: 600;
}

.semi-bold {
  font-weight: 500;
}

.padding-sm {
  padding: 10px;
}

.margin-sm {
  margin: 10px;
}

.margin-auto {
  margin: 0 auto;
}

.margin-auto-top-sm {
  margin: 2rem auto 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .pad-sides {
    padding: 0 5rem 0 3rem;
  }
  .margin-auto-top-sm {
    margin: 0 auto;
  }
}
.heading-primary {
  margin-top: 2rem;
  font-size: 2.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.webpush-msgbox {
  height: 1.4rem;
  margin-left: auto;
}

.webpush-message {
  display: none;
  margin-left: auto;
  color: rgb(229, 139, 50);
  font-size: 1.4rem;
}

.Toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 1ch;
}

button.Toggle {
  margin-left: auto;
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
}

.Toggle__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.Toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2);
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 100vw;
  background-color: #fbe4e2;
  transition: 250ms;
}

.Toggle__display::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 50%;
  left: var(--offset);
  box-sizing: border-box;
  width: var(--diameter);
  height: var(--diameter);
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: white;
  transform: translate(0, -50%);
  will-change: transform;
  transition: inherit;
}

.Toggle:focus .Toggle__display,
.Toggle__input:focus + .Toggle__display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

.Toggle:focus,
.Toggle:focus:not(:focus-visible) .Toggle__display,
.Toggle__input:focus:not(:focus-visible) + .Toggle__display {
  outline: 0;
}

.Toggle[aria-pressed=true] .Toggle__display,
.Toggle__input:checked + .Toggle__display {
  background-color: #e3f5eb;
}

.Toggle[aria-pressed=true] .Toggle__display::before,
.Toggle__input:checked + .Toggle__display::before {
  transform: translate(100%, -50%);
}

.Toggle[disabled] .Toggle__display,
.Toggle__input:disabled + .Toggle__display {
  opacity: 0.6;
  filter: grayscale(40%);
  cursor: not-allowed;
}

[dir=rtl] .Toggle__display::before {
  left: auto;
  right: var(--offset);
}

[dir=rtl] .Toggle[aria-pressed=true] + .Toggle__display::before,
[dir=rtl] .Toggle__input:checked + .Toggle__display::before {
  transform: translate(-100%, -50%);
}

.Toggle__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
  overflow: hidden;
}

.Toggle__icon--cross {
  color: #e74c3c;
  font-size: 85%;
}

.Toggle__icon--checkmark {
  color: #1fb978;
}

.link-back {
  display: flex;
  align-items: center;
  margin-left: -10px;
  color: #4e4ed4;
  font-weight: 600;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  transform: text-decoration-color 0.3s;
}
.link-back:hover {
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
}

.contentbox {
  padding: 10px 5px;
  background-color: rgba(229, 139, 50, 0.8);
  border-radius: 15px;
  box-shadow: 0px 0px 4px black;
}

.downloadlink {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale ease-in-out 0.3s;
}
.downloadlink:hover {
  scale: 1.04;
}
.downloadlink:focus, .downloadlink:active {
  outline: 3px solid rgb(229, 139, 50);
}

.linkbox {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 0 10px;
  min-height: 6rem;
  max-width: 100%;
  width: 100%;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 0px 6px black;
}

.bluebox {
  background-color: #4e4ed4;
  color: white;
}

.whitebox {
  background-color: rgba(255, 255, 255, 0.88);
  color: black;
}

.regionbox {
  justify-content: flex-start;
  background-color: white;
  color: black;
  transition: scale ease-in-out 0.4s, fill 0.6s;
}
.regionbox:focus {
  outline: 3px solid #4e4ed4;
}
.regionbox:hover, .regionbox:active {
  scale: 1.02;
}
.regionbox:hover > .icon-secondary-color, .regionbox:active > .icon-secondary-color, .regionbox:focus > .icon-secondary-color {
  fill: #4e4ed4;
}

.homebox {
  position: relative;
  height: 14rem;
  border-radius: 15px;
  transition: fill 0.6s, scale ease-in-out 0.4s;
}
.homebox:hover, .homebox:active {
  scale: 1.03;
}
.homebox:hover > .icon-secondary-home, .homebox:active > .icon-secondary-home {
  fill: #e58b32;
}

.homebox-orange {
  border: 3px solid rgb(229, 139, 50);
}
.homebox-orange:focus {
  outline: 3px solid #4e4ed4;
  border: 0px solid #4e4ed4;
}

.homebox-blue {
  border: 2px solid #4e4ed4;
}
.homebox-blue:focus {
  outline: 3px solid rgb(229, 139, 50);
  border: 0px solid rgb(229, 139, 50);
}

.homebox-cta:focus {
  outline: 3px solid rgb(229, 139, 50);
}

@media (min-width: 992px) {
  .home .homebox {
    border: 1px solid #4e4ed4;
  }
  .home .whitebox {
    background-color: rgb(240, 240, 245);
  }
}
.custom-icon-no-mr {
  width: 28px;
  height: 28px;
  fill: #4e4ed4;
  flex-shrink: 0;
}

.custom-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.home-icon {
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  z-index: -1;
}

.icon-main-color {
  fill: #4e4ed4;
}

.icon-secondary-color {
  fill: rgb(229, 139, 50);
  flex-shrink: 0;
  transition: all 0.4s;
}

.icon-secondary-home {
  fill: rgba(229, 139, 50, 0.7);
  transition: fill 0.4s;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: -moz-min-content;
  min-height: min-content;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  background-color: rgb(240, 240, 245);
}
.header__logo {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.header__logo-img {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px black;
}
.header__txt {
  font-family: "Fjalla One", sans-serif;
  margin: 0 0 0 0.5rem;
  font-size: 2.6rem;
  font-weight: 600;
}

@media (min-width: 992px) {
  .header {
    justify-content: flex-start;
    box-shadow: none;
  }
  .header__txt {
    font-size: 2.8rem;
  }
}
.footer {
  flex-shrink: 0;
  padding: 1rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  background-color: #efefef;
  background-color: rgb(240, 240, 245);
}
.footer p {
  text-align: center;
}

@media (min-width: 992px) {
  .footer {
    box-shadow: none;
  }
}
.home {
  display: flex;
  height: 100%;
}
.home__image {
  display: none;
}
.home__bgcimg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(25, 64, 91, 0.3), rgba(25, 64, 91, 0.3)), url("/static/img/tur4.jpg");
}

.home__boxes {
  position: relative;
  display: grid;
  grid-template-columns: minmax(140px, auto);
  width: 60rem;
  padding: 10px;
  gap: 20px;
  align-content: space-evenly;
  overflow: hidden;
}
.home__boxes-box {
  margin: 0;
  font-size: 1.7rem;
  z-index: 1;
}

@media (min-width: 21.25em) {
  .home__boxes {
    grid-template-columns: repeat(2, minmax(140px, auto));
  }
}
@media (min-width: 62em) {
  .home {
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 15.5rem);
  }
  .home__boxes {
    padding: 3rem 2rem;
    align-content: start;
  }
  .home__bgcimg {
    display: none;
  }
  .home__image {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 1.4rem;
    font-weight: 300;
    overflow: hidden;
    max-width: 700px;
    height: 100%;
    flex: 1 0 45vw;
  }
  .home__image-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .home__image-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    color: rgb(245, 245, 245);
    background: rgba(50, 50, 50, 0.7);
  }
}
.regions,
.schedule {
  justify-content: space-evenly;
}

.regions {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.regions__boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 500px;
}

.schedule__header {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 1rem;
}
.schedule__description {
  display: flex;
  align-items: flex-start;
  padding: 2rem 0;
}
.schedule__description-region {
  font-size: 1.8rem;
}
.schedule__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.schedule__box {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.75rem 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 6px black;
  border-radius: 15px;
}
.schedule__box-iconbox {
  margin-left: 1rem;
}
.schedule__box-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.schedule__box-heading {
  font-weight: 500;
}