@use 'abstracts'as *;

.custom-icon-no-mr {
    width: 28px;
    height: 28px;
    fill: $main-color;
    flex-shrink: 0;
}

.custom-icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.custom-icon-ml {
    margin-left: -10px;
}

.icon-no-shrink {
    flex-shrink: 0;
}

.home-icon {
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    z-index: -1;
}

.icon-main-color {
    fill: $main-color;
}

.icon-secondary-color {
    fill: $secondary-color;
    flex-shrink: 0;
    transition: all .4s;
}

.icon-secondary-home {
    fill: rgba($secondary-color, .7);
    transition: fill .4s;
}