@use 'abstracts'as *;

.link-back {
    display: flex;
    align-items: center;
    margin-left: -10px;
    color: $main-color;
    font-weight: 600;
    text-decoration-color: transparent;
    transition: text-decoration-color .3s;

    &:hover {
        text-decoration-color: inherit;
    }
}

// links and link containers
.contentbox {
    padding: 10px 5px;
    background-color: rgba($secondary-color, .8);
    border-radius: 15px;
    box-shadow: 0px 0px 4px black;
}

.downloadlink {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: scale ease-in-out .3s;

    &:hover {
        scale: 1.04;
    }

    &:focus,
    &:active {
        outline: 3px solid $secondary-color;
    }
}

.linkbox {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: 0 10px;
    min-height: 6rem;
    max-width: 100%;
    width: 100%;
    text-decoration: none;
    box-shadow: 0px 0px 6px black;

}

.bluebox {
    background-color: $main-color;
    color: white;
}

.whitebox {
    background-color: rgba(255, 255, 255, .88);
    color: black;
}

.regionbox {
    justify-content: flex-start;
    background-color: white;
    color: black;
    border-radius: 15px;
    transition: scale ease-in-out .4s, fill .6s;

    &:focus {
        outline: 3px solid $main-color;
    }

    &:hover,
    &:active {
        scale: 1.02;
    }

    &:hover>.icon-secondary-color,
    &:active>.icon-secondary-color,
    &:focus>.icon-secondary-color {
        fill: $main-color;
    }
}

.homebox {
    position: relative;
    height: 14rem;
    border-radius: 15px;

    transition: fill .6s,
        scale ease-in-out .4s;


    // &:focus {
    //     outline: 3px solid $secondary-color;
    //     border: 0px solid $secondary-color;
    // }

    &:hover,
    &:active {
        scale: 1.03;
    }

    &:hover>.icon-secondary-home,
    &:active>.icon-secondary-home {
        fill: rgba($secondary-color, 1);
    }
}

.homebox-orange {
    border: 3px solid $secondary-color;

    &:focus {
        outline: 3px solid $main-color;
        border: 0px solid $main-color;
    }
}

.homebox-blue {
    border: 2px solid $main-color;

    &:focus {
        outline: 3px solid $secondary-color;
        border: 0px solid $secondary-color;
    }
}

.homebox-cta {
    &:focus {
        outline: 3px solid $secondary-color;
    }
}

@media(min-width:992px) {
    .home {
        .homebox {
            border: 1px solid $main-color;
        }

        .whitebox {
            background-color: rgb(240, 240, 245);
        }
    }
}