{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <title>eTurawa {% block title %} {% endblock %} </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap&family=Fjalla+One&display=swap"
        rel="stylesheet">
    {% comment %} <link rel="icon" href="{% static '/iconx/favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static '/iconx/apple-touch-icon.png' %}"/> {% endcomment %}
    {% comment %} <link rel="manifest" href="{% static '/iconx/manifest.json' %}" /> {% endcomment %}

    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/icos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icos/favicon-16x16.png' %}">

    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="rgb(240, 240, 245)">
    <meta name="msapplication-TileColor" content="rgb(240, 240, 245)">
    <meta name="theme-color" content="rgb(240, 240, 245)">

    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/app.js' %}" type="module"></script>
    <meta name="sw" content="{% url 'serviceworker' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="wrapper header__wrapper">
            <a href="/" class="header__logo">

                <img class="header__logo-img" src="{%static 'img/logot.png'%}" alt="Powrót na stronę główną" style="">
                <h1 class="header__txt"><span class="header__txt-name"><span class="main-color-txt">e</span>Turawa</span> <span>Aplikacja Mieszkańca</span></h1>
            </a>

        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <p>ISĆ &#169; {% now "Y" %}</p>
    </footer>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>