{% extends 'base.html' %}
{% load static wagtailcore_tags %}
{% block content %}
<main>
    <div class="home">
        <figure class="home__image">
            <img src="{%static 'img/turlow.jpg' %}" alt="Widok z lotu ptaka na jezioro i miejscowość" class="home__image-img" loading="lazy">
            <figcaption class="home__image-desc">Turawa Marszałki, Jezioro Duże (Fot. "It's my fly" FB)
            </figcaption>
        </figure>
        <div class="home__boxes mainpage">
            <a href="#" class="home__boxes-box  homebox-blue homebox linkbox whitebox animated slide-left">
                <svg class="home-icon icon-secondary-home" aria-hidden="true"
                    focusable="false">
                    <use href="{% static 'img/svg/sprite.svg' %}#megaphone">
                    </use></svg>
                <p class="semi-bold muted">Aktualności i wydarzenia</p>
            </a>
            <a href="{% url 'garbage:regions' %}" class="home__boxes-box homebox homebox-orange linkbox whitebox animated slide-up">
                    <svg class="home-icon icon-secondary-home" aria-hidden="true" focusable="false">
                        <use href="{% static 'img/svg/sprite.svg' %}#trash">
                        </use></svg><p class="semi-bold">Harmonogram wywozu odpadów</p></a>
            <a href="#" class="home__boxes-box homebox linkbox whitebox animated slide-left">
                <svg class="home-icon icon-secondary-home" aria-hidden="true"
                focusable="false"><use href="{% static 'img/svg/sprite.svg' %}#bag"></use>
                </svg><p class="semi-bold muted">Sklepy i usługi</p>
            </a>
            <a href="#" class="home__boxes-box homebox-blue homebox linkbox whitebox animated slide-right">
                <svg class="home-icon icon-secondary-home" aria-hidden="true"
                focusable="false"><use href="{% static 'img/svg/sprite.svg' %}#help"></use>
                </svg><p class="semi-bold muted">Oddam, pomogę</p>
            </a>
            <a href="#" class="home__boxes-box homebox homebox-blue linkbox whitebox animated slide-down">
                <svg class="home-icon icon-secondary-home" aria-hidden="true"
                focusable="false"><use href="{% static 'img/svg/sprite.svg' %}#bus"></use>
                </svg><p class="semi-bold muted">Gminna komunikacja autobusowa</p>
            </a>
            <a href="{% slugurl 'kontakt' %}" class="home__boxes-box homebox homebox-cta linkbox bluebox animated slide-right">
                <svg class="home-icon icon-secondary-home" aria-hidden="true"
                focusable="false"><use href="{% static 'img/svg/sprite.svg' %}#info"></use>
                </svg><p class="semi-bold">O projekcie / Kontakt</p>
            </a>
        </div>
        <div class="home__bgcimg"></div>
    </div>

</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
<!-- <script src="{% static 'js/init-pwa.js' %}"></script> -->
{% endblock extra_js %}