{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
<meta name="vapid-key" content="{{ vapid_key }}">
<meta name="group" content="{{ webpush.group }}">
{% endblock %}
{% block content %}
<main>
    <div class=" wrapper-wide schedule padding-sm">
        <div class="schedule__header">
            <a class="link-back" href="{% url 'garbage:regions' %}"><svg class="custom-icon-no-mr" aria-hidden="true"
            focusable="false"><use href="{% static 'img/svg/sprite.svg' %}#arrow-left">
            </use>
        </svg>Lista rejonów</a>
            <h2 class="heading-primary">Najbliższe terminy wywozu odpadów:</h2>
            <div class="">
                <div href class="schedule__description">
                    <svg class="custom-icon icon-black-color" aria-hidden="true" focusable="false">
                        <use href="{% static 'img/svg/sprite.svg' %}#{{object.number}}">
                        </use>
                    </svg>
                    <p class="schedule__description-region">
                        <span class="sr-only">{{object.number}}</span>{{object.name}}
                    </p>
                </div>
            </div>
            {% if user.is_authenticated or webpush.group %}
            <button class="Toggle" type="button" aria-pressed="false" id="webpush-subscribe-btn" {% if webpush.group%}
            data-group="{{ webpush.group }}" {% endif %} data-url="{% url 'notifications:save_webpush_info'%}">
                <span class="btn-text">Włącz powiadomienia</span>
                <span class="Toggle__display" hidden>
                    <svg class="Toggle__icon Toggle__icon--checkmark"><use href="{% static '/img/svg/sprite.svg' %}#checkmark"></use></svg>
                    <svg class="Toggle__icon Toggle__icon--cross"><use href="{% static '/img/svg/sprite.svg' %}#cross"></use></svg>
                </span>
            </button>
            {%endif%}
            <div class="webpush-msgbox">
            <div id="webpush-message" class="webpush-message" hidden style=""></div>
                </div>
        </div>
        <div class="schedule__boxes">
            {% for col_type, col_type_objects in nearest_collection_types.items %}
            {% if col_type_objects|length > 0 %}
            <div class="schedule__box">
                <div class="schedule__box-iconbox">
                    <svg class="custom-icon schedule__box-icon" aria-hidden="true" focusable="false"
                        style="fill:{{col_type.color}};">
                        {% if 'wielkogabarytowe' in col_type.name %}
                        <use href="{% static 'img/svg/sprite.svg' %}#dimensions"></use>
                        {% else %}
                        <use href="{% static 'img/svg/sprite.svg' %}#trash"></use>
                        {% endif %}
                    </svg>
                </div>
                <div class="schedule__box-text">
                    <p class="schedule__box-heading">{{col_type.name}}</p>
                    {% for col in col_type_objects %}
                    {% with col.get_days_count as days %}
                    <p>{{col.date}} ({{col.date|date:'l'|lower}})
                        {%if days == 0%}<span class="main-color-txt bold">Dzisiaj</span> {%elif days == 1 %}
                        <span class="main-color-txt bold">Jutro</span>{%else%}za
                        <span class="main-color-txt bold">{{days}}</span> dni{%endif%}
                    </p>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {%endfor%}
            {% if object.schedule %}
            <a href="{{ object.schedule.url }}" class="home__boxes-box homebox linkbox bluebox" style="margin-top:2rem;">
                <svg class="custom-icon icon-secondary-color" aria-hidden="true" focusable="false">
                    <use href="{% static 'img/svg/sprite.svg' %}#download"></use>
                </svg><p>Pobierz harmonogram PDF</p></a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}